.layout {
  width: 100%;
}

.body-container {
  background-color: #f8ede3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #a2b29f;
  /* background-color: var(--black-025); */
  /* transition: box-shadow cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s; */
  /* height: 50px; */
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  /* box-sizing: border-box; */
}

.navbar--logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar--logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  animation: rotate 0.7s ease-in-out 0.5s;
}

.navbar--link {
  display: flex;
  list-style: none;
}

.navbar--link-item {
  margin: 0.4rem 1rem 0 0;
  padding: 0 0.3rem;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.2rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #bdd2b6;
}

.footer--logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer--logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  animation: rotate 0.7s ease-in-out 0.5s;
}

.footer--link {
  display: flex;
  list-style: none;
}

.footer--link-item {
  /* margin: 0.4rem 1rem 0 0; */
  padding: 0.3rem;
  cursor: pointer;
  justify-content: top;
}

.footer img {
  max-height: 1.5rem;
  /* max-width: 2.5rem; */
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
